<h1>Pirate </h1>

<div class="pirate">
<p>Name: <%= @pirate.name %></p><br>
<p>Weight: <%= @pirate.weight %></p><br>
<p>Height: <%= @pirate.height %></p>
</div><br>

<h2>Ships</h2>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>